/**
 * Colors
 */
@font-face {
  font-family: 'Museo700';
  src: url('fonts/museo700-regular-webfont.eot');
  /* IE9 Compat Modes */
  src: url('fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museo700-regular-webfont.woff') format('woff'), url('fonts/museo700-regular-webfont.ttf') format('truetype'), url('fonts/museo700-regular-webfont.svg#svgFontName') format('svg');
  /* Legacy iOS */ }

@font-face {
  font-family: 'Museo300';
  src: url('fonts/museo300-regular-webfont.eot');
  /* IE9 Compat Modes */
  src: url('fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museo300-regular-webfont.woff') format('woff'), url('fonts/museo300-regular-webfont.ttf') format('truetype'), url('fonts/museo300-regular-webfont.svg#svgFontName') format('svg');
  /* Legacy iOS */ }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/**
 * Payee Input Styles
 */
.payee-input {
  position: relative;
  height: 45px; }

.payee-input-form {
  height: 100%; }

.payee-input-selectors input[type="radio"] {
  display: none; }
  .payee-input-selectors input[type="radio"]:checked + label {
    color: white;
    background-color: #00a1e1;
    -moz-box-shadow: inset 0 0.75px 3px #888888;
    -webkit-box-shadow: inset 0 0.75px 3px #888888;
    box-shadow: inset 0 0.75px 3px #888888; }

.payee-input-button {
  float: left;
  height: 100%; }
  .payee-input-button label {
    display: inline-block;
    float: left;
    background-color: #eeeeee;
    color: #aaaaaa;
    text-align: center;
    line-height: 45px;
    width: 105px;
    height: 100%;
    -moz-box-shadow: inset 0 0.75px 2px #c8c8c8;
    -webkit-box-shadow: inset 0 0.75px 2px #c8c8c8;
    box-shadow: inset 0 0.75px 2px #c8c8c8; }
  .payee-input-button:first-child label {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px; }

.payee-input-field {
  float: left;
  border: 0;
  padding: 0;
  padding-left: 20px;
  width: 905px;
  height: 100%;
  -moz-box-shadow: inset 0 0.75px 2px #c8c8c8;
  -webkit-box-shadow: inset 0 0.75px 2px #c8c8c8;
  box-shadow: inset 0 0.75px 2px #c8c8c8; }
  .payee-input-field:focus {
    outline: 0; }

.payee-input-submit {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 65px;
  background-color: #00a1e1;
  color: white;
  outline: none;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

/**
 * Payees List
 */
.payees {
  padding: 0;
  margin: 0;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px; }
  .payees li {
    list-style-type: none; }

.payee {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  height: 90px;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0.75px 2px #d4d4d4;
  -webkit-box-shadow: 0 0.75px 2px #d4d4d4;
  box-shadow: 0 0.75px 2px #d4d4d4; }
  .payee:hover {
    -moz-box-shadow: 0 0.75px 4.5px #bbbbbb;
    -webkit-box-shadow: 0 0.75px 4.5px #bbbbbb;
    box-shadow: 0 0.75px 4.5px #bbbbbb; }
  .payee:hover > .payee-submit {
    background-color: #00a1e1;
    color: white; }

.payee-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 100%;
  background-image: url('http://placehold.it/90x90');
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -ms-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  border-top-left-radius: 2px; }

.payee-info {
  position: absolute;
  left: 90px;
  padding-left: 25px;
  height: 100%;
  line-height: 90px; }
  .payee-info span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }

.payee-info-name {
  margin: 0;
  margin-bottom: 4px;
  font-family: 'Museo700';
  font-size: 20px; }

.payee-info-address {
  margin: 0;
  font-family: 'Museo300';
  font-size: 18px;
  color: #aaaaaa; }

.payee-submit {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 90px;
  height: 100%;
  border-left: 1px solid #eeeeee;
  color: #dddddd;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -ms-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  border-top-right-radius: 2px; }
  .payee-submit i {
    position: absolute;
    top: 20px;
    left: 30px; }

/**
 * Animations
 */
.payee-animate-enter {
  -webkit-animation: fadeInRight 0.5s;
  animation: fadeInRight 0.5s; }

input:focus::-webkit-input-placeholder {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: slideIn;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards; }

input:focus:-ms-input-placeholder {
  opacity: 0; }

@-webkit-keyframes slideIn {
  from {
    opacity: 1;
    padding-left: 0px; }

  to {
    opacity: 0;
    padding-left: 15px; } }

body {
  background-color: #f6f6f6; }

.container {
  padding-top: 45px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }
